<h1>Welcome to Virtual Dance Machine</h1>

<p><%= link_to "Login", login_path %>
OR
<%= link_to "Signup", signup_path %>
OR
<%= link_to "Sign in with Google", "/auth/google_oauth2"%>
OR
<%= link_to "sign in with GitHub", "/auth/github"%>   </p>   


