  
<section id="cover" class="min-vh-100">
<div id="cover-caption">
    <div class="container">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                <h1 class="display-4 py-2 text-truncate text-primary">Add a comment</h1>
                    <div class="px-2">

                      <%= render partial: 'layouts/errors', locals: {obj: @comment} %>
                      <%= render 'form' %>
                      <%= link_to  "Cancel", dance_classes_path %>
                      </div>
            </div>
        
    </div>
</div> 
</section>


<%= render 'dance_classes/style' %>
