<%= render partial: 'layouts/errors', locals: {obj: @dance_class} %>

<section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h4 class="display-4 py-2 text-truncate text-primary">Add A Dance Class</h4>
                        <div class="px-2">
                        
                        <%= render 'form' %>
                        <%= link_to  "Cancel", dancer_path(session[:dancer_id]) %>

                
                    </div>
                </div>
            
        </div>
    </div> 
</section>

<%= render 'style' %>
