<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <%= image_tag  "Logo.png" %>
        <h3 class="font-weight-strong display-5 text-info">Create and Share Dance Classes</h3>

     <%= link_to "Log-in", {controller: "sessions", action: "new"} %>
     <%= link_to "Sign-up", {controller: "dancers", action: "new"} %>
        
     </div>
    </div>
  </div>
 </header>

<%= render 'background' %>