
<section id="cover" class="min-vh-100">
<div id="cover-caption">
    <div class="container">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form h5-4">
                    <div class="px-2 ">
                        <div class="blk_center row card-deck border-info mb-3"> 
                            <h1>Categories</h1>
                            </div>
                            <hr>

                            <% @categories.each do |c| %>
                            
                             <div class="blk_center">
                           <h4 class="text-danger"><%= c.name %></h4>
                           <h6>Classes:<% @dance_classes.each do |w| %></h6>
                                   <% if w.category_id == c.id %>
                                   <em><p class="text-white"><%= w.type %></em></p>
                                   <% end %>
                                <% end %>
                            </div>
                            <hr>
                            <% end %>

<%= render 'dance_classes/style' %>
